{% comment %}
  Section: Announcement Bar
  Info: Displays announcement bar with up to 12 different announcements
  Script: src/AnnouncementBar.js
{% endcomment %}

{% liquid
  assign count = 0
  for block in section.blocks
    assign count = count | plus: 1
  endfor
%}

<div
  x-data="AnnouncementBar"
  class="
     flex items-center
    {% if count > 1 %}
      justify-between
    {% else %}
      justify-center
    {% endif %}
  "
  style="background-color: {{ section.settings.announcement_bar_background }}; min-height: 50px;"
>
  {% if count > 1 %}
    <button class="pl-2" style="color: {{  section.settings.chevron_color }}" x-on:click="previousAnnouncement">
      {% render 'icon-chevron-left' %}
    </button>
  {% endif %}

  {%- for block in section.blocks -%}
    {% case block.type %}
      {% when 'announcement' %}
        {% if block.settings.announcement_text != blank %}
          <div
            id="announcement"
            x-show="current === {{ forloop.index0 }}"
            x-transition:enter="transition ease-in duration-500"
            x-transition:enter-start="opacity-0"
            x-transition:enter-end="opacity-100"
            class="
                             uppercase tracking-widest text-center px-4 py-3
                 {% if block.settings.announcement_text_bold == true %}
                font-bold
              {% endif %}
            "
          >
            {% if block.settings.announcement_link != blank %}
              <a
                style="
                  font-size: {{ section.settings.announcement_bar_font_size }}px;
                  color: {{ block.settings.announcement_text_color }};
                  text-decoration-color: {{ block.settings.announcement_text_color }};
                "
                href="{{ block.settings.announcement_link }}"
              >
                {{- block.settings.announcement_text -}}
              </a>
            {% else %}
              <p
                style="
                  font-size: {{ section.settings.announcement_bar_font_size }}px;
                  color: {{ block.settings.announcement_text_color }};
                  text-decoration-color: {{ block.settings.announcement_text_color }};
                "
              >
                {{ block.settings.announcement_text }}
              </p>
            {% endif %}
          </div>
        {% endif %}
    {% endcase %}
  {%- endfor -%}

  {% if count > 1 %}
    <button class="pr-2" style="color: {{  section.settings.chevron_color }}" x-on:click="nextAnnouncement">
      {% render 'icon-chevron-right' %}
    </button>
  {% endif %}
</div>

{% schema %}
{
  "name": "t:settings_schema.sections.announcement-bar.name",
  "settings": [
    {
      "type": "range",
      "id": "announcement_bar_font_size",
      "label": "t:settings_schema.sections.announcement-bar.settings.announcement_bar_font_size.label",
      "min": 10,
      "max": 20,
      "step": 1,
      "unit": "px",
      "default": 12
    },
    {
      "type": "color",
      "id": "chevron_color",
      "label": "t:settings_schema.sections.announcement-bar.settings.chevron_color.label",
      "default": "#000"
    },
    {
      "type": "color",
      "id": "announcement_bar_background",
      "label": "t:settings_schema.sections.announcement-bar.settings.announcement_bar_background.label",
      "default": "#fff"
    }
  ],
  "max_blocks": 12,
  "blocks": [
    {
      "type": "announcement",
      "name": "t:settings_schema.sections.announcement-bar.blocks.announcement.name",
      "settings": [
        {
          "type": "text",
          "id": "announcement_text",
          "label": "t:settings_schema.sections.announcement-bar.blocks.announcement.settings.text.label"
        },
        {
          "type": "color",
          "id": "announcement_text_color",
          "label": "t:settings_schema.sections.announcement-bar.blocks.announcement.settings.announcement_text_color.label",
          "default": "#fff"
        },
        {
          "type": "checkbox",
          "id": "announcement_text_bold",
          "label": "t:settings_schema.sections.announcement-bar.blocks.announcement.settings.announcement_text_bold.label",
          "default": false
        },
        {
          "type": "url",
          "id": "announcement_link",
          "label": "t:settings_schema.sections.announcement-bar.blocks.announcement.settings.link.label"
        }
      ]
    }
  ]
}
{% endschema %}
