{% liquid
  if section.settings.menu.links == blank
    assign main_menu_linklist = linklists[section.settings.menu].links
  else
    assign main_menu_linklist = section.settings.menu.links
  endif
%}

<header id="header" class="header">
  {% comment %} Logo {% endcomment %}

  {{ settings.logo | asset_img_url }}

  <a href="{{ routes.home_url }}" class="logo">
    {% if settings.logo != blank %}
      <img src="{{ settings.logo | asset_img_url }}" alt="{{ shop.name }}" loading="lazy" height="50" width="50">
    {% else %}
      {{ shop.name }}
    {% endif %}
  </a>

  {% comment %} Navigation {% endcomment %}
  <nav role="navigation">
    {% for link in main_menu_linklist %}
      {% if link.links != blank %}
        {% assign link_handle = link.handle | replace: '-', '_' %}
        {% for childlink in link.links %}
          <a href="{{ childlink.url }}">{{ childlink.title }}</a>
        {% endfor %}
      {% else %}
        <a href="{{ link.url }}">{{ link.title }}</a>
      {% endif %}
    {% endfor %}
  </nav>

  {% comment %} Search form {% endcomment %}
  <form action="{{ routes.search_url }}" method="get">
    <input type="search" name="q" placeholder="Search">
    <button type="submit">Search</button>
  </form>
</header>

{% schema %}
{
  "name": "t:settings_schema.sections.header.name",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "Heading Navigation Menu"
    }
  ]
}
{% endschema %}
